
obj/Debug/WpfApp1.csproj.CoreCompileInputs.cache

obj/Debug/WpfApp1_MarkupCompile.cache

obj/Debug/WpfApp1_MarkupCompile.lref

obj/Debug/WpfApp1.csproj.GenerateResource.cache

.vs/WpfApp1/v16/.suo

bin/Debug/WpfApp1.exe

bin/Debug/WpfApp1.pdb

obj/Debug/DesignTimeResolveAssemblyReferences.cache

obj/Debug/DKA0.baml

obj/Debug/DKD0.baml

obj/Debug/
