# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2Term_OOP_Lab5.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\danii\OneDrive\Рабочий стол\Git\OOP\2Term_OOP_Lab5\.idea\.idea.2Term_OOP_Lab5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
